
*{
  padding:0;
  margin:0;
  background-color:rgb(15, 14, 37);
  color:white;
}
:root {
  --nav-color:rgb(168, 24, 24);
  --post-border-color:rgb(100, 133, 233);
  --post-bg-color:rgb(61, 73, 103);
}
textarea{
  width:99.66%;
  height:80%;
  resize: none;
  border:0;
  border-bottom: 0.3em solid var(--post-border-color);
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color:var(--nav-color);
  border-bottom: solid bisque 0.15em;
}
.nav-sign{
  position:relative;
  display:flex;
  flex-direction: row;
  padding: 0.5em;
}
.nav-out{
  background-color:var(--nav-color);
}
.sign-out,.nav-sign{
  border:0;
  margin:auto;
  background-color:var(--nav-color);
}

.posts-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;

}

.post,.comment{
  margin:1em ;
  border-left:0.3em var(--post-border-color);
  border-radius: 5px;
}
.post,
.post * {
  background-color: var(--post-bg-color);
}
.post-header{
  display:flex;
  width: auto;
  flex-direction:column;
  padding-bottom: 0.5em;
  justify-content:space-around;
}
.create-post-header{
  display:flex;
  flex-direction:row;
  padding: 0 ;
  padding-bottom: 0.5em;
  justify-content: center;
}
.post-body{
  min-height:5em;
  margin: 0 0.5em;
}
.App-header .post{
  flex:1;
  max-width: 30.5%;
  padding-bottom: 1em;
  border: 0.4em solid;
  border-color: var(--post-border-color);
}
.App-header .post:hover,.comment:hover{
  border-color: var(--nav-color);
}

.App-header .post>*>*{
  padding-left: 0.25em;
}
.App-header .post .author{
  order:1;
}

.App-header .post:nth-child(2){
  padding-top:1em;
  margin: 0 auto;
  min-width: 95%;
  min-height:20em; 
  
}

.App-header .post:nth-child(2) .post-header{
  display:flex;
  align-items:center;
  flex-direction:row;
  justify-content:space-around;
  border-bottom: 0;
  padding-bottom: 1em;
}

.App-header .post:nth-child(2) .post-header .author{
  order:-1;
}


.comment-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}

 #comment-button{
  margin: 0 auto;
  min-width:10em;
  min-height:3em;
  align-self: right;
  background-color: var(--post-border-color);
  border-width: 0cm;
}
.comment-form{
  flex-direction: column;
}
.new-post{
  align-self:right;
  border-width: 0cm;
  background-color: var(--post-border-color);
  border-radius: 10px 0px 0px 10px;
  min-width: 5rem;

}
.comment-container {
  max-height: 400px; 
  overflow-y: auto;
}
.comment {

  max-height: 5em; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment:hover {
  max-height: none;
  overflow: auto;
}

.posts-wrapper-header{
  display:flex;
  width:100%;
  justify-content:space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.posts-wrapper-header button{

  background-color: var(--post-border-color);
  border-bottom-left-radius: 5px;
  border-width: 0cm;

}
#post-button{
  margin: 0 auto;
  min-width:10em;
  min-height:4em;
  align-self: left;
  background-color: var(--post-border-color);
}
.input{
  border :0;
  background-color:rgb(70, 9, 9);
}
.sign-in{
  padding-left: 1em;
  display: flex;
  background-color: var(--nav-color);
  flex-direction: row;
  justify-content: space-around;
}
.sign-in>*{
  padding:0;
  padding-left: 1em;
  border : 0;
  background-color:var(--nav-color);
  border-radius: 10px;
}
.sign-out{
  align-self: flex-end;
  padding-right: 2em;
}
.error{
  padding-left: 1em;
}
.post-title{
  margin-left: 2.5%;
}
.title{
  border:var(--post-border-color) solid 1px;
}
.post-header>*>*{
  border-width:0px;
}
.logo{
  max-width: 25px;
  padding-left: 2em;
  background-color: var(--nav-color);
}
#password, #confirm_password,#username{
  background-color: bisque;
}